*, body {
    font-family: 'Nunito', sans-serif;
}

.main-menu > li > a {
    font-family: 'Nunito', sans-serif !important;
}

.ltext-104, .ltext-102, .ltext-103 {
    font-family: 'Nunito', sans-serif !important;
}

.wrap-pic-w img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}